.CardDetail{

    margin-top: 10rem;
}

.detailposter{
display: block;
 width: 400px;
  

}

.detailWrapper{

 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 1rem;

}



.detailTitle{

  
    border: 1px solid brown;
    font-size: 2rem;
    font-weight: bold;
    background-color: brown;
    padding:1rem .8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}




@media only Screen and (max-width:1210px) {

 .detailWrapper{

  flex-direction: column;
 margin-top: 1rem;
 }


}



@media only Screen and (max-width:550px) {


    .detailTitle{

     margin: 1rem 10%;
    
    }
    
   
   
   }

   @media only Screen and (max-width:480px) {


    .detailTitle{

     margin: 1rem 20%;
    
    }
    
   
   
   }